body{
    background: #3d4130;
}
/* Reset default list styles */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    /* Display the links in a single row */
    justify-content: space-around;
    /* Distribute the links evenly */
    align-items: center;
    /* Center align vertically within the navbar */
    padding: 10px 0;
    font-size: 24px;
}
/* Reset default list styles */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Style the navigation bar */
nav {
    background-color: #333;
    color: #fff;
}

/* Style the navigation links */
.nav-link {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

/* Style the active link */
.nav-link.active {
    background-color: #ff6600;
    /* Change to the color you want for the active tab */
    border-radius: 5px;
}
.product-image-home{
    width: inherit;
    height: inherit;
}
.products-home-div {
    display: flex; /* Use flexbox to create a row layout */
    flex-wrap: wrap; /* Allow items to wrap to the next line if the screen is too narrow */
    justify-content: space-between; /* Distribute space evenly between items */
    /* align-items: ; */
}
.item{
    /* width: 40%;
    height: 15%; */
    /* display: flex; */
    /* text-overflow: ellipsis; */
    width: calc(33.33% - 20px); /* Adjust the width as needed (this example assumes 3 items per row) */
    /* height: 20px; */
    margin-right: 1px; /* Add margin between items */
    padding: 10px; /* Add padding for spacing */
    border: 1px solid #6f9605b0; /* Add borders for visual separation */
    margin-bottom: 10px; /*separates items vertically*/
    box-sizing: border-box;
}

.product-description-home{
    white-space: nowrap; 
  width: inherit; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000;

} 